body {
    background: linear-gradient(#cf974d,#dde4d2);
  	background-attachment: fixed;
      color: rgb(238, 225, 225);
    }

.wrapper{
    height: 500px;
    width: 300px;
    background: rgb(65, 5, 5);
}

#timerdiv{
    background: linear-gradient(#a7904f,#dde4d2);
    border: 8px solid rgb(109, 103, 47);
    padding: 50px;
    height: 150px;
    width: 250px;
    color:rgb(38, 70, 92);
    font-size: 30px;
}

.txt{
    font-size: 30px;
    font-weight: bold;
}

.ses{
    font-size: 16px;
}

.btn{
    color: whitesmoke;
    background: black;
}

#sesmin{
    color: rgb(40, 209, 153);
    font-size: 20px;
}

#breakmin{
    color: rgb(206, 137, 35);
    font-size: 20px;
}

 .pause{
     display: none; 
}

